<h2 class="white"><%= t('.header') %> <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group">
    <%= f.label :email, t('devise.email_label'), class: "white" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "#{t('devise.email_placeholder')}" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div><%= t('.currently_waiting') %> <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="form-group">
    <%= f.label :password, t('devise.password_label'), class: "white" %> <i class="white"><%= t('.no_change') %></i><br />
    <%= f.password_field :password, autocomplete: "new-password", class: "form-control", placeholder: "#{t('devise.password_placeholder')}" %>
    <% if @minimum_password_length %>
      <br />
      <em class="white"><%= @minimum_password_length %> <%= t('devise.minimum_password') %></em>
    <% end %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation, t('devise.password_confirmation_label'), class: "white" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", placeholder: "#{t('devise.password_placeholder')}" %>
  </div>

  <div class="form-group">
    <%= f.label :current_password, class: "white" %> <i class="white"><%= t('.we_need') %></i><br />
    <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control", placeholder: "#{t('devise.password_placeholder')}" %>
  </div>

  <div class="actions">
    <%= f.submit t('devise.update'), class: "btn btn-primary" %>
  </div>
<% end %>

<h3 class="white"><%= t('.cancel') %></h3>

<p><%= t('.unhappy') %> <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to t('devise.back') %>
